.logo {
  display: flex;
  align-items: top;
  gap: 12px;

  margin-right: auto;

  div {
    position: relative;

    width: 19.792px;
    height: 18.75px;
    flex-shrink: 0;

    &::after {
      position: absolute;
      content: '';

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      mask: no-repeat center / contain url('/images/logo.svg');

      background-color: var(--clr-primary-logo);
    }
  }

  &_light {
    span {
      color: var(--clr-white);
    }

    div::after {
      background-color: var(--clr-white);
    }
  }
}
